pre {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  margin: 3px 0px;
  white-space: pre-wrap;
}

table {
  th {
    display: none;
  }
  td:first-child{
    min-width: 150px;
  }
}

.external-link-icon{
  font-size: 9px;
  margin-bottom: 1px;
}

h1{
  word-break: break-all;
}

.tag {
  background-color: #dedede;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 3px;
  display: inline-block;
  padding-bottom: 3px;
}

.p-block{
  word-break: break-word;
}

button {
  height: 30px;
  font-size: 12px;
}

.detection-title {
  word-break: break-all;
}

.external-link {
  font-size: 10px;
}

.show-behaviors-toggle {
  margin: 10px 0px;
}

.devices-container {
  margin: 10px 0px 5px 0px;
}

.alert {
  margin-bottom: 0;
}

.alert-information {
  margin-top: 10px;
  margin-bottom: 10px;
}

.retry-btn {
  height: 25px;
  padding: 5px;
  width: 150px;
  font-weight: 500;
}

.display-results {
  margin-top: 5px;
}

.containment-info {
  position: relative;
}

.modal-options {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  display: inline-block;
}

.containment-modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  max-width: 250px;

  & .modal-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .modal-text {
      display: flex;
      font-size: 14px;
      line-height: 17px;
    }

    .modal-options {
      display: flex;
      justify-content: center;
      margin-bottom: 0px;
      & > * {
        margin-right: 5px;
      }
    }
  }
}

.bold {
  font-weight: bold;
}
.p-link {
  border-radius: 3px;
  padding: 2px;
}

.highlight {
  background-color: lightblue;
}

.p-title {
  font-weight: 500;
}
h2.p-title {
  font-size: 13px;
}
h3.p-title {
  color: #3c3c3c;
  font-size: 12px;
  font-style: italic;
}